<a href="https://colab.research.google.com/github/Gaukhar-ai/Gaukhar.Diamond.github/blob/master/Yahoo_data_extraction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#csv - comma separated value

In [ ]:
#yahoo finance api is free. Morningstar and alpha vantage, eix

In [2]:
import numpy as np
import pandas as pd

In [3]:
ser = pd.Series(np.random.random(5), name = 'Column 01')

In [4]:
ser

0    0.483321
1    0.435164
2    0.403852
3    0.752559
4    0.782970
Name: Column 01, dtype: float64

In [6]:
ser[2]

0.4038516230430004

In [7]:
from pandas_datareader import data as wb

In [8]:
PG = wb.DataReader('PG', data_source='yahoo', start='1995-1-1')

In [9]:
PG

                  High         Low  ...     Volume   Adj Close
Date                                ...
1995-01-03   15.625000   15.437500  ...  3318400.0    8.166473
1995-01-04   15.656250   15.312500  ...  2218800.0    8.101009
1995-01-05   15.437500   15.218750  ...  2319600.0    7.986450
1995-01-06   15.406250   15.156250  ...  3438000.0    8.002816
1995-01-09   15.406250   15.187500  ...  1795200.0    7.970086
...                ...         ...  ...        ...         ...
2021-01-28  131.649994  127.440002  ...  8242000.0  130.360001
2021-01-29  130.289993  128.070007  ...  8343200.0  128.210007
2021-02-01  129.660004  128.199997  ...  6534200.0  128.970001
2021-02-02  130.720001  128.690002  ...  6825600.0  128.789993
2021-02-03  129.199997  127.750000  ...  7309400.0  128.949997

[6569 rows x 6 columns]

In [11]:
PG.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6569 entries, 1995-01-03 to 2021-02-03
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       6569 non-null   float64
 1   Low        6569 non-null   float64
 2   Open       6569 non-null   float64
 3   Close      6569 non-null   float64
 4   Volume     6569 non-null   float64
 5   Adj Close  6569 non-null   float64
dtypes: float64(6)
memory usage: 359.2 KB

In [12]:
PG.head()

                High       Low      Open     Close     Volume  Adj Close
Date
1995-01-03  15.62500  15.43750  15.46875  15.59375  3318400.0   8.166473
1995-01-04  15.65625  15.31250  15.53125  15.46875  2218800.0   8.101009
1995-01-05  15.43750  15.21875  15.37500  15.25000  2319600.0   7.986450
1995-01-06  15.40625  15.15625  15.15625  15.28125  3438000.0   8.002816
1995-01-09  15.40625  15.18750  15.34375  15.21875  1795200.0   7.970086

In [14]:
PG.tail(20)

                  High         Low  ...      Volume   Adj Close
Date                                ...
2021-01-06  141.039993  138.600006  ...  10578000.0  139.319656
2021-01-07  140.130005  138.039993  ...   7355400.0  138.017517
2021-01-08  139.059998  137.000000  ...   7447700.0  137.957855
2021-01-11  139.440002  137.600006  ...   7239900.0  137.023514
2021-01-12  138.250000  136.240005  ...   6333500.0  136.228302
2021-01-13  138.070007  137.100006  ...   6078800.0  136.437027
2021-01-14  137.649994  135.279999  ...   6172800.0  134.985794
2021-01-15  136.199997  134.660004  ...   7739600.0  133.971909
2021-01-19  136.360001  133.559998  ...   9184900.0  132.798996
2021-01-20  133.800003  131.259995  ...  12506600.0  131.138992
2021-01-21  131.990005  130.509995  ...   8765700.0  131.009995
2021-01-22  131.470001  129.990005  ...   7201700.0  130.000000
2021-01-25  133.000000  129.899994  ...   9640000.0  132.240005
2021-01-26  133.470001  131.429993  ...   5996700.0  133.089996
2021-01-27  133.100006  127.699997  ...  10826700.0  128.380005
2021-01-28  131.649994  127.440002  ...   8242000.0  130.360001
2021-01-29  130.289993  128.070007  ...   8343200.0  128.210007
2021-02-01  129.660004  128.199997  ...   6534200.0  128.970001
2021-02-02  130.720001  128.690002  ...   6825600.0  128.789993
2021-02-03  129.199997  127.750000  ...   7309400.0  128.949997

[20 rows x 6 columns]

In [15]:
tickers = ['PG', 'MSFT', 'T', 'F', 'GE']
new_data = pd.DataFrame()
for t in tickers:
  new_data[t] = wb.DataReader(t, data_source='yahoo', start = '1995-1-1')['Adj Close']

In [16]:
new_data.tail()

                    PG        MSFT          T      F     GE
Date
2021-01-28  130.360001  238.929993  28.799999  10.72  11.09
2021-01-29  128.210007  231.960007  28.629999  10.53  10.68
2021-02-01  128.970001  239.649994  28.650000  10.83  10.74
2021-02-02  128.789993  239.509995  28.540001  10.86  11.24
2021-02-03  128.949997  243.000000  28.510000  11.20  11.20

In [20]:
from pandas_datareader import data as wb

In [ ]:
PG = wb.DataReader('PG', data_source = 'iex', start = '2017-01-01')